@font-face {
  font-family: 'Digital-7';
  src: url('../../assets/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  margin: 60px 0px 60px 0px;
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #009de0;
  border-radius: 10px;

  .container_title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Digital-7', sans-serif;
    user-select: none;
  }

  .container_text {
    font-size: 16px;
    color: white;
    font-family: 'Digital-7', sans-serif;
    user-select: none;
  }
}
