.num {
  grid-row: span 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
  color: white;
  border-radius: 10px;
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
  position: relative;
  user-select: none;

  i {
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.5em;
  }
}

.num:active {
  filter: brightness(1.7);
}

.num::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  right: 12px;
  bottom: 14px;
  border-radius: 10px;
  background: linear-gradient(90deg, #2d2d2d, #4d4d4d);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), 10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.27);
  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.equal {
  grid-row: span 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 215%;
  background: #009de0;
  color: white;
  border-radius: 10px;
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
  position: relative;
  user-select: none;

  i {
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.5em;
  }
}

.equal::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  right: 12px;
  bottom: 14px;
  border-radius: 10px;
  background: linear-gradient(90deg, #1479c9, rgba(255, 255, 255, 0.36));
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), 10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.27);
  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.equal:active {
  filter: brightness(1.7);
  color: lightskyblue;
}

.erase {
  background: red;
  grid-row: span 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 10px;
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
  position: relative;
  user-select: none;

  i {
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.5em;
  }
}

.erase::before {
  background: linear-gradient(90deg, #d20000, rgba(255, 255, 255, 0.36));
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  right: 12px;
  bottom: 14px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), 10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(255, 255, 255, 0.27);
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
  border-top: 1px solid rgba(255, 255, 255, 0.27);
}

.erase:active {
  filter: brightness(1.7);
}
